.monthly-tracker-chart {
    width: 100%;
    height: 100%;
}

.monthly-tracker-chart text {
    text-anchor: middle;
}

.monthly-tracker-chart g text {
    fill: #333;
    font-weight: bold;
    font-family: sans-serif;
}

.monthly-tracker-chart g text.text-small {
    font-size: 0.875em;
}

.monthly-tracker-chart g text.text-large {
    font-size: 2.1em;
}

.monthly-tracker-chart g .rect-saldo {
    fill: transparent;
    stroke: #878787;
    stroke-dasharray: 5, 5;
    stroke-width: 4px;
}

.monthly-tracker-chart g line {
    stroke: #878787;
    stroke-dasharray: 5, 5;
    stroke-width: 4px;
}